In [2]:
# Data Cleaning

In [3]:
#Import libraries
import pandas as pd

In [4]:
# Import data
df = pd.read_excel('Customer_Call_List.xlsx')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [5]:
#Drop duplicates
df = df.drop_duplicates()

In [6]:
df = df.drop(columns='Not_Useful_Column', axis=1)

In [7]:
#Rename column
df = df.rename(columns={'Paying Customer' : 'Paying_Customer'})

In [8]:
#Fixing Last Name
#df['Last_Name'] = df['Last_Name'].str.strip('/')
#df['Last_Name'] = df['Last_Name'].str.strip('...')
#df['Last_Name'] = df['Last_Name'].str.strip('_')
df['Last_Name'] = df['Last_Name'].str.strip('123._/')

In [9]:
#Fixing phone number
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','', regex=True)

In [10]:
#Fixing the data type pf phone number
df['Phone_Number'] = df['Phone_Number'].astype(str)

In [11]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:9])

In [12]:
#Deleting the NaNs
df['Phone_Number'] = df['Phone_Number'].str.replace('nan--','')
df['Phone_Number'] = df['Phone_Number'].str.replace('Na--','')

In [13]:
#Address
df['Street_Address'] = df['Address'].str.split(',').str[0]
df['State'] = df['Address'].str.split(',').str[1]

In [14]:
#Deleting the old column of Address
df = df.drop(columns='Address')

In [15]:
#Re-ordering columns
df = df[['CustomerID','First_Name','Last_Name','Phone_Number','Street_Address','State','Paying_Customer','Do_Not_Contact']]

In [16]:
#Fixing Paying Customer
df['Paying_Customer'] = df['Paying_Customer'].str.replace('Yes','Y')

In [17]:
df['Paying_Customer'] = df['Paying_Customer'].str.replace('Y','Yes')

In [18]:
df['Paying_Customer'] = df['Paying_Customer'].str.replace('No','N')

In [19]:
df['Paying_Customer'] = df['Paying_Customer'].str.replace('N','No')

In [20]:
#Fixing Do_Not_Contact
df['Do_Not_Contact'] = df['Paying_Customer'].str.replace('Yes','Y')

In [21]:
df['Do_Not_Contact'] = df['Paying_Customer'].str.replace('Y','Yes')

In [22]:
df['Do_Not_Contact'] = df['Paying_Customer'].str.replace('Noo','N')

In [23]:
df['Do_Not_Contact'] = df['Paying_Customer'].str.replace('N','No')

In [24]:
#Deleting NaN
df = df.replace('N/a','')
df = df.fillna('')

In [25]:
#More fixing
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Noo','No')

In [26]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No/a','No')
df['Paying_Customer'] = df['Do_Not_Contact'].str.replace('No/a','No')

In [27]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street_Address,State,Paying_Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-542,123 Shire Lane,Shire,Yes,Yes
1,1002,Abed,Nadir,123-643-977,93 West Main Street,,No,No
2,1003,Walter,White,,298 Drugs Driveway,,No,No
3,1004,Dwight,Schrute,123-543-234,980 Paper Avenue,Pennsylvania,Yes,Yes
4,1005,Jon,Snow,876-678-346,123 Dragons Road,,Yes,Yes
5,1006,Ron,Swanson,304-762-246,768 City Parkway,,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,,No,No
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,,No,No
8,1009,Gandalf,,,123 Middle Earth,,Yes,Yes
9,1010,Peter,Parker,123-545-542,25th Main Street,New York,Yes,Yes
10,1011,Samwise,Gamgee,,612 Shire Lane,Shire,Yes,Yes
11,1012,Harry,Potter,,2394 Hogwarts Avenue,,Yes,Yes
12,1013,Don,Draper,123-543-234,2039 Main Street,,Yes,Yes
13,1014,Leslie,Knope,876-678-346,343 City Parkway,,Yes,Yes
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,,No,No
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,,No,No
16,1017,Michael,Scott,123-643-977,121 Paper Avenue,Pennsylvania,Yes,Yes
17,1018,Clark,Kent,,3498 Super Lane,,Yes,Yes
18,1019,Creed,Braton,,,,No,No
19,1020,Anakin,Skywalker,876-678-346,910 Tatooine Road,Tatooine,Yes,Yes

In [34]:
df.loc[df['First_Name'] == 'Jon', 'State'] = 'The North'
df.loc[df['First_Name'] == 'Sherlock', 'State'] = 'London'
df.loc[df['First_Name'] == 'Gandalf', 'State'] = 'Middle Earth'
df.loc[df['First_Name'] == 'Harry', 'State'] = 'London'
df.loc[df['First_Name'] == 'Ron', 'State'] = 'London'
df.loc[df['First_Name'] == 'Clark', 'State'] = 'Kansas'